<footer>
	<nav class="py-4">
		<ul
			class="flex justify-between uppercase font-medium text-sm text-transparent md:text-base"
		>
			<li>
				<a class="silver hover:brightness-150" href="https://github.com/pandeakshat"
					>GitHub</a
				>
			</li>
			<li>
				<a class="silver hover:brightness-150" href="https://pandeakshat.com"
					>©pandeakshat</a
				>
			</li>
			<li>
				<a class="silver hover:brightness-150" href="https://www.linkedin.com/in/pandeakshat/"
					>LinkedIn</a
				>
			</li>
		</ul>
	</nav>
</footer>
